@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.swiper-pagination-bullet-active {
  background-color: #FFFFDD !important;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.16);
}
