@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: rgb(49, 47, 47);
  color: white;
}

.light {
  background-color: #fff;
  color: rgb(10, 10, 10);
}

.theme {
  transition: 1s all ease;
}

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 0.2px black;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}

.swiper-pagination-bullet-active {
  background-color: #ffffdd !important;
}

.img-overlay {
  background: rgba(0, 0, 0, 0.16);
}

.rounded-checkbox {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid black;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.rounded-checkbox:checked {
  appearance: auto;
  clip-path: circle(50% at 50% 50%);
  background-color: blue;
}
.banner {
  text-wrap: balance;
}

.imageRecipe {
  object-fit: fill;
  width: 100%;
  height: 100%;
}